* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header{
    width: 100%;
}

body {
    /*background-image: url("../Trundle_tradicional.jpg");*/
    background-position: center;
    background-size: cover;    
}

#btn-menu{
    
}

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}

header label :hover{
    cursor: pointer;
}
 
.navegacion{
    width: 100%;
}

.navegacion ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}
ul li{
    position: relative;
    display: inline-block;
}

ul  li  a{
    display:  block;
    padding:  15px 20px;
    color: #353535;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

ul li a:hover{
    color: #3374FF;
    transition: all .5s;
}

.sub{
    position: absolute;
    visibility: hidden;
    width: 100%;
    font-size: 20px;
    background: #3374FF;
    opacity: 0;
    transition: opacity .5S;
}

.sub li a { 
    display: block;
    padding: 15px;
    color: #3374FF;
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration:  none; 
}
ul li:hover .sub{
    visibility: visible;
    opacity: 1;
}

.cuerpo h1{
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    color: gray;
    
}

.boton_ligas{
    text-decoration: none;
    padding: 5px;
    font-size: 50px;
    color: white;
    background-color: #3374FF;
    border-radius: 6px;
    border: #0032FF 2px solid;
    position: relative;
    top: 200px;
}

.boton_ligas:hover{
    color: #3374FF;
    background-color: white;
    border-radius: #3374FF 2px;
    transition: all .5s;
}

.galeria video{
    display: inline-block;
    width: 600px;
    height: 300px;
    margin-top: 5px;

}

@media (max-width: 768px){

    header label{
    display: block;
    }

    .navegacion{
    position: absolute;
    width: 70%;
    margin-left: -70%;
    }

    .navegacion ul{
        flex-direction: column;
        
    }

    .navegacion li{
        border-top: solid black;
    }

    #btn-menu:checked ˜ .navegacion{
        margin: 0;
    }
}


/*@media screen and (-width: 500px){
}
@media screen and (min-width: 800px){
 header nav{
     width: 80%;
 }   
}
@media screen and (min-width: 1000px){
   
}
*/