* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url("../Trundle_tradicional.jpg");
    /*background-image: url("../ryze2.jpg");*/
    background-position: center;
    background-size: cover;    
}


.navegacion{
    width: 600px;
    margin: 30px auto;
    background: #fff;
    border-radius: 5px;
}


.navegacion ul{
    list-style: none;
}   

.barra > li{
    position: relative;
    display: inline-block;
}

.barra > li > a{
    display:  block;
    padding:  15px 20px;
    color: #353535;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.barra li a:hover{
    color: #3374FF;
    transition: all .5s;
}

.sub{
    position: absolute;
    visibility: hidden;
    width: 100%;
    font-size: 20px;
    background: #3374FF;
    opacity: 0;
    transition: opacity .5S;
}

.sub li a { 
    display: block;
    padding: 15px;
    color: #3374FF;
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration:  none; 
}
.barra li:hover .sub{
    visibility: visible;
    opacity: 1;
}

.cuerpo h1{
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    color: yellow;
    
}

.boton_ligas{
    text-decoration: none;
    padding: 5px;
    font-size: 50px;
    color: white;
    background-color: #3374FF;
    border-radius: 6px;
    border: #0032FF 2px solid;
    position: relative;
    top: 200px;
}

.boton_ligas:hover{
    color: #3374FF;
    background-color: white;
    border-radius: #3374FF 2px;
    transition: all .5s;
}